body{
    background-color: black;
    color:#00ff9c;
    font-family: monospace;

}
#terminal{
    width:90%;
    margin:40px auto;
    padding:20px;
    border:2px dashed #00ff9c;
    height:950px;
    overflow: auto;
    font-size: 16px;
}

.terminal{
    color:#00ff9c;
}
.input-line{ 
    display:flex;
}
input{
    background-color: transparent;
    border: none;
    color:#00ff9c;
    outline:none;
    width: 100%;
    font-family: monospace;
    font-size: 16px;
}

.logo{
    font-size: 3px;
    margin-left:40%;
}
































